/*
 * Globals
 */

 /* Fonts */
@font-face
{
font-family: LatoRegular;
src: url(../fonts/Lato-Regular.ttf);
}

@font-face
{
font-family: LatoMedium;
src: url(../fonts/Lato-Medium.ttf);
}

@font-face
{
font-family: LatoBold;
src: url(../fonts/Lato-Bold.ttf);
}

@font-face
{
font-family: LatoHeavy;
src: url(../fonts/Lato-Heavy.ttf);
}


/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: "LatoRegular", Helvetica, Arial, sans-serif;
}
body {
  color: #333;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  z-index: 10;
}

.mastfoot a,
.mastfoot a:focus
 {
  color: #63bbde; /* IE8 proofing */
  color: rgba(99,187,222,.5);
}

.mastfoot a:hover{
  color: #63bbde; /* IE8 proofing */
  color: rgb(99,187,222);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


#cover-section{
  background-image: url("../images/cover-bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

#cover-section h1{
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "LatoHeavy", Helvetica, Arial, sans-serif;
}

#cover-section h2{
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "LatoMedium", Helvetica, Arial, sans-serif;
}


#cover-section h3{
  font-size: 1.5em;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "LatoMedium", Helvetica, Arial, sans-serif;
}

#main-content h2{
    font-size: 2.5em;
    text-align: left;
    color: #174a77;
    font-family: "LatoRegular", Helvetica, Arial, sans-serif;

}

#main-content p{
  line-height: 1.75em;
    font-size: 1.25em;
    text-align: left;
    font-family: "LatoRegular", Helvetica, Arial, sans-serif;
    color: #333;

}

#main-content .row {
  padding-top: 60px;
  padding-bottom: 60px;
}

#main-content .col-lg-4 {
  	float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
  }


#main-content .col-lg-6 {
      float:none;
      display:inline-block;
      vertical-align:middle;
      margin-right:-4px;
}

#signup form{
  text-align: center;
}

#signup {
  padding-top: 60px;
  padding-bottom: 180px;
  border-top: solid 1px #ccc;
}

#signup h2{
font-size: 2.5em;
text-align: center;
color: #174a77;
font-family: "LatoRegular", Helvetica, Arial, sans-serif;

}

.btn-default {
  color: #fff;
  background-color: #63bbde;
}

.btn-default:hover{
  color: #fff;
  background-color: #174a77;
}

.masthead-brand.past-main {
  color: #333;
  text-shadow: none;
}


.masthead-nav.past-main > .active > a,
.masthead-nav.past-main > .active > a:hover,
.masthead-nav.past-main > .active > a:focus {
  color: #174a77;
  border-bottom-color: #174a77;
}


.masthead-nav.past-main  > li > a {
  color: #303030; /* IE8 proofing */
  color: rgba(48,48,48,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav.past-main  > li > a:hover,
.masthead-nav.past-main  > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(30,30,30,.25);
}


.mastfoot.past-main {
  color: #303030; /* IE8 proofing */
  color: rgba(48,48,48,.75);
}
